<<<<<<< HEAD
*{
	border: 3px solid black;
}


body {
	background-color: #79a5ea;
	margin: auto;
}

img {
	height: 35px;
	margin: auto;
}

#signup {
	background-color: white;

}

body p {
		color: white;
}

=======
/* *{
	border: 3px solid black;
}
*/
>>>>>>> 7ad11a7b07538205938a1bfcaa83b0a287612fb9
