
/*{
	border: 3px solid black;
}
*/
* {
	margin: auto;
	font-family: Arial, serif;
}

body {
	background-color: #79a5ea;
}

img {
	height: 35px;
	margin-top: 20px;
	display: inherit;
    margin-bottom: 20px;
}

form {
	background-color: white;
	width: 320px;
	padding: 40px;
	border-top: white 20px;
	border-radius: 5px;
	height: 320px;
}

legend {
	text-align: center;
}


form label {
	text-align: left;
	display: inherit;
}

.inputbutton {
	padding: 15px;
	width: 320px;
	height: 38px;
	border: 2px;
}

button {
	display: inherit;
	background-color: #37e231;
	border-radius: 5px;
	font-size: 20px;
	font-stretch: expanded;
}

button:hover {
	background-color: green;

}
form a {
	color: #D3D3D3;
	text-align: center;
	display: inherit;
	padding-top: 20px;

}

.text {
		color: white;
		margin: auto;
		text-align: center;
		padding-top: 10px;
}

p a {
	color: white;
}

body p {
	margin-top: 20px;
}

